
/*------------------------------*/
/*--------- Document -----------*/
/*------------------------------*/

html{
    height: 100%;
}

body {
    height: 100%;
    background: rgb(182, 182, 182);
}

h1 {
    display: flex;
    justify-content:center;
    align-items: center;

    border: #282929 solid;
    border-radius: 50px;
    font-size: 1rem;
    width: 30%;
}

/*----- Header -----*/

#box-header {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}



header {
    background: #282929;
    margin: -0.5rem -0.5rem;
    padding: 0.5rem 0.5rem;
}

header input[type="button"] {
    width: 25%;
    margin: 0rem 0.5rem;
    padding: 0.5rem 0.5rem;
    background-color: rgb(69, 119, 157);
    transition: 0.25s;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    text-transform:capitalize;
}

header input[type="button"]:hover {
    background-color: rgb(39, 64, 128);
    box-shadow: 0px 0px 0px 0px;
    border: 0.2rem solid rgb(0, 0, 0);
    transition: 0.25s;
    padding: 20px 10px;
}


/*----- Midle -----*/ 

#box-nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: auto;
    width: 100%;
    left: 0;
    margin-top: 25px;

}

nav#left {
    background: rgba(21, 220, 31, 25%);
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

nav#right {
    background: rgba(31, 138, 220, 0.25);
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

main {
    background: rgb(255, 0, 0, 25%);
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

/*----- Footer -----*/ 

footer {
    background: rgba(122, 53, 179, 0.25);
    height: 10%;
    visibility: hidden;
}

/*---------------------------------*/
/*--------- Responssive -----------*/ 
/*---------------------------------*/
@media screen and (max-width: 1250px) {

    #box-header {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    header input[type="button"] {
        transition-property: all;
        width: 75%;
        margin: 0.5rem 0.5rem;
    }

    header input[type="button"]:hover {
        width: 80%;
    }
}

@media screen and (max-width:250px) {
    header div#box-header input[type="button"] {
        font-size: 15px;
    }
}

@media screen and (max-width:150px) {
    header div#box-header input[type="button"] {
        font-size: 10px;
    }
}

@media screen and (max-width:100px) {
    header div#box-header input[type="button"] {
        font-size: 7px;
    }
}

@media screen and (max-width:75px) {
    header div#box-header input[type="button"] {
        font-size: 5px;
    }
}
/*
justify-content: center;*/
/*
@media screen and (max-width: 500px) {
header input[type="button"] {
    width: 20rem;
    background-color: green;
}
@media screen and (max-width: 400px) {
    header input[type="button"] {
        width: 20rem;
        background-color: yellow;
}

*/